@import "base";
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

$keyCol: #333;
$keyCol-1: #B9A37D;
$keyCol-2: #EEDCC7;
$keyCol-3: #357edd;

address {
	font-style: normal;
}

p {
	line-height: 1.8;
}

table {
	margin: 0;
	
	tr {
		border-top: 1px solid $gray-lighter;
		border-color: $gray-lighter;
	}

	th {
		font-weight: normal;
	}

	td {
		word-break: break-all;
	}

	th,
	td{
		display: block;
		padding: 10px;
		line-height: 1.8;

		&:first-child {
			//text-align: center;
			font-weight: 700;
			color: $gray-light;
			//width: 140px;
			background-color: $gray-lightest;
		}
	}
}

.header {
	.header-nav {
		.brand-logo {
			//font-size: $h4-fsize;
			//letter-spacing: .05em;
			height: 70px;
			padding: 0 15px;
			display: flex;
			align-items: center;

			img {
				//display: inline-block;
				width: 160px;
				height: auto;
			}
		}

		.sidenav-trigger {
			margin-top: 5px;
			//margin-left: 30px;
		}
	}

	.sidenav {
		padding-top: 60px;

		.brand-logo {
			display: block;
			margin-bottom: 15px;

			img {
				width: 180px;
			}
		}

		.mainmenu {
			margin-top: 0;
			margin-bottom: 15px;
			border-bottom: 1px solid $gray-lighter;

			li, a {
				font-size: $h4-fsize;
				font-family: 'Josefin Sans', sans-serif;
				letter-spacing: .05em;
			}

			> li {
				border-top: 1px solid $gray-lighter;

				a {
					transition: .2s;
				}
			}
		}

		.sns-icon {
			//width: 30px;
			//margin: 0 auto;
			display: inline-block;

			svg {
				width: 30px;
			}
		}
	}
}

#cover-wrap {
	position: relative;
	height: calc(100vh - 70px);
	background-image: url("/images/img-18.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	.cover-text {
		position: absolute;
		color: white;
		letter-spacing: .05em;
		top: 50%;
		left: 50%;
		-webkit-transform : translate(-50%,-50%);
		transform : translate(-50%,-50%);
		//width: 300px;
		text-align: center;/*一応BOX内の文字も中央寄せ*/
	}
}

.mainmenu > li {
	color: $keyCol;
	padding: 0 15px;
	cursor: pointer;

	> a {
		padding: 0;
	}
}

.submenu > li a {
	color: $keyCol;
	font-size: 1.4rem;
	padding: 0 15px;
}

.container {
	max-width: 1080px;
}

.button-default {
	color: $keyCol-1;
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	line-height: 60px;
	padding: 0 70px;
	background-color: white;
	border: 1px solid $keyCol-1;
	@include border-radius(30px);
	text-decoration: none;
	letter-spacing: .1em;
	transition: .2s;

	&.w100 {
		display: flex;
		width: 100%;
	}
}

.button-outerline {
	color: $keyCol;
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 44px;
	line-height: 44px;
	padding: 0 28px;
	background: $white;
	@include border-radius(22px);
	text-decoration: none;
	letter-spacing: .1em;

	&::before {
		content: "";
		position: absolute;
		left: -5px;
		top: -5px;
		width: calc(100% + 10px);
		height: calc(100% + 10px);
		border: 5px solid $keyCol-1;
		opacity: .2;
		//-webkit-transition: all .5s cubic-bezier(.19,1,.22,1);
		transition: all .5s cubic-bezier(.19,1,.22,1);
		//-webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
		transition-timing-function: cubic-bezier(.19,1,.22,1);
		border-radius: 27px;
	}

	&.w100 {
		display: flex;
		width: 100%;
	}
}

.inline-flex {
	display: inline-flex;
}

.tag-list {
	padding: 0;
	margin: 0;

	.item-tag {
		display: inline-flex;
		list-style-type: none;
		margin-right: 5px;

		span {
			font-size: $h6-fsize;
			display: inline-block;
			line-height: 22px;
			letter-spacing: .05em;
			height: 22px;
			padding: 0 8px;
			//margin-right: 15px;
			background-color: $gray-lighter;
			@include border-radius(14px);
		}
	}
}

.badge-recruitment {
	display: inline-block;
	font-size: $h5-fsize;
	color: $keyCol;
	line-height: 26px;
	letter-spacing: .05em;
	height: 26px;
	padding: 0 10px;
	background-color: $keyCol-2;
	@include border-radius(13px);
}

.meta time {
	display: block;
	font-size: $h6-fsize;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: .05em;

	.material-icons {
		font-size: 1.3rem;
		margin-right: 3px;
		vertical-align: -2px;
	}
}

.city-list {
	display: inline-flex;

	.item-tag span {
		font-size: $h5-fsize;
		color: $silver;
		background-color: transparent;
	}
}

.breadcrumbs-wrap {
	background-color: $gray-lightest;

	.breadcrumbs {
		padding: 10px 30px;
		font-size:0;

		li {
			display: inline;
			list-style: none;
			font-size: 1.2rem;

			&:not(:last-child)::after {
				content: 'navigate_next';
				font-family: 'Material Icons';
				//font-size: $h4-fsize;
				padding: 0 5px;
				vertical-align: -0.2em;
			}
		}
	}
}

.thumb-wrap {
	margin-bottom: 40px;

	.thumb-caption {

		.thumb-title-wrap {
			margin-bottom: 10px;
		
			.thumb-title {
				font-size: $h4-fsize;
				display: inline-block;
				letter-spacing: .05em;
				margin-right: 5px;
				margin-bottom: 0;

				a {
					transition: .2s;
				}
			}
		
			.tag-list {
				display: inline-block;
			}
		}
	}
}

.widget-sidebar {
	.widget-item {
		margin-bottom: 60px;

		&:last-child {
			margin-bottom: 0;
		}
	}
	
	.widget-title {
		color: $keyCol-1;
		font-size: $h5-fsize;
		font-weight: 600;
		font-family: 'Open Sans', sans-serif;
		letter-spacing: .1em;
		margin-bottom: 20px;
	}

	.recruitList,
	.memberList {
		.tag-title {
			color: $silver;
			line-height: 2;
		}

		.hospital-list {
			//padding-top: 20px;
			padding-left: 0;
			margin-bottom: 15px;
			//border-top: 1px solid $silver;

			> li {
				line-height: 2;
				//padding-bottom: 15px;
				//margin-bottom: 15px;
				border-bottom: 1px solid $gray-lighter;

				a {
					display: block;
					//background-color: #EEDCC7;
				}
			}
		}
	}

	.memberList,
	.recruitList {
		.tag-title {
			color: $silver;
			line-height: 2;
		}

		.hospital-list {
			padding-right: 0;
			padding-left: 0;
			margin-bottom: 10px;

			> li {
				position: relative;
				line-height: 2;
				border-bottom: none;

				&.current {
					//padding-left: 15px;
					//border-left: 2px solid $keyCol-1;

					a {
						color: $keyCol-1;
					}
				}

				a {
					display: block;
				}

				.material-icons {
					position: absolute;
					top: 8px;
					right: 5px;
					color: $silver;
				}
			}
		}

		.badge-recruitment {
			margin-left: 5px;
			font-size: $h6-fsize;
			color: $keyCol-1;
			line-height: 1;
			height: auto;
			padding: 0;
			background-color: transparent;
			@include border-radius(0);
		}
	}

	.recentPost {
		.thumb-wrap {
			padding: 0;
			margin-bottom: 15px;
		
			.thumb-img {
				padding: 0 7.5px;
			}

			.thumb-caption {
				padding: 0 7.5px;

				.thumb-title-wrap {
					margin-bottom: 0px;
				
					.thumb-title {
						font-size: $h5-fsize;
						margin-bottom: 5px;
					}
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.tagCloud {
		//margin: 0;
		font-size: 0;

		li {
			display: inline-flex;
			list-style-type: none;
			margin: 0 6px 6px 0;

			> a {
				font-size: $h6-fsize;
				//color: $silver;
				line-height: 26px;
				height: 26px;
				padding: 0 8px;
				border: 1px solid $gray-lighter;
				text-decoration: none;
				@include border-radius(13px);
			}
		}
	}

	.catList {
		ul li {
			line-height: 2.2;

			.count {
				margin-left: 5px;
			}
		}
	}
}

.sns-share-wrap {
	margin-bottom: 30px;
    display: flex;
	align-items: center;

	.share-title {
		font-size: $h4-fsize;
		font-weight: 600;
		font-family: 'Open Sans', sans-serif;
		letter-spacing: .1em;
		margin-right: 20px;
	}
	
	.sns-list {
		height: 40px;
		line-height: 40px;

		a {
			position: relative;
			display: inline-block;
			background-color: #eee;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-clip: padding-box;
			transition: all .2s ease-in-out;
			margin-right: 10px;
			
			i {
				display: block;
				font-size: 16px;
				color: $keyCol;
				top: 50%;
				left: 50%;
				position: absolute;
				transform: translate(-50%,-50%)
			}
		}
	}
}

.index {
	.section {
		padding: 50px 0;
	}

	.section-title-wrap {
		
		h2 {
			font-weight: 600;
			font-family: 'Open Sans', sans-serif;
			letter-spacing: .05em;

			.ja {
				font-size: $h5-fsize;
				letter-spacing: .1em;
				margin-left: 10px;
			}
		}
	}

	.meta {
		margin-bottom: 5px;
	}

	.news-wrap .section-title-wrap {
		padding-left: 22.5px;
	}

	.about-wrap {
		.about-list {
			.list-item {
				display: flex;
				border-bottom: 1px solid $silver;
				align-items: center;
				justify-content: space-between;
				//display: block;
				font-size: $h4-fsize;
				letter-spacing: .1em;
				//padding: 20px 0;
				height: 120px;
				line-height: 120px;

				&:first-child {
					border-top: 1px solid $silver;
				}

				.list-item-title-wrap {
					display: flex;
					align-items: center;

					.material-icons {
						margin-right: 15px;
						transition: .2s;
					}
	
					h3 {
						font-size: $h4-fsize;
						margin-bottom: 5px;
					}
				}

				> .material-icons {
					padding-right: 5px;
				}
			}

			a {
				transition: .2s;
			}
		}
	}

	.member-wrap {
		.thumb-wrap .thumb-caption {
			.thumb-title-wrap {
				margin-bottom: 0;

				.thumb-title {
					display: block;
					margin-bottom: 10px;
				}
			}

			.thumb-desc {
				display: none;
			}
		}
	}
	
	.form-wrap {
		label {
			display: block;
			font-weight: 600;
			font-family: 'Open Sans', sans-serif;
			letter-spacing: .1em;
			line-height: normal;
			margin-bottom: 10px;
		}

		input[type=text],
		input[type=email],
		textarea {
			width: 100%;
			color: $silver;
			border: 1px solid $gray-lighter;
			outline: none;
			padding: 5px 15px;
			line-height: 1.8;

			&:focus {
				color: $keyCol
			}
		}

		.form-submit {
			color: $keyCol;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			height: 44px;
			line-height: 44px;
			padding: 0 70px;
			background: $white;
			@include border-radius(5px);
			font-size: $h5-fsize;
			text-decoration: none;
			letter-spacing: .1em;
			border: 1px solid $silver;
			cursor: pointer;
			transition: .2s;
		}
	}
}

.single,
.list {
	&.section {
		padding-top: 40px;
		margin-bottom: 100px;
	}

	.widget-sidebar {
		//padding: 0 40px;

		.meta {
			margin-bottom: 5px;
		}
	}
}

.single {
	.entry-wrap {
		.entry-header {
			.entry-title-wrap {
				margin: 0 0 15px;

				h1 {
					letter-spacing: .05em;
					margin: 0;
				}
			}
		}

		.meta time {
			font-size: $h5-fsize;
		}
	}
	
	&.news {
		.entry-wrap {
			margin-bottom: 80px;

			.entry-header {
				margin-bottom: 30px;

				.meta {
					margin-bottom: 10px;
				}
			}

			.entry-body {
				margin-bottom: 40px;

				h1 {
					margin: 0;
					letter-spacing: .05em;
				}
			
				h2 {
					font-size: $h2-fsize;
					background-color: $gray-lightest;
					border-left: 8px solid $keyCol-1;
					padding: 8px 15px;
					margin: 45px 0 -18px 0;
					letter-spacing: .05em;
		
					+ h3 {
						margin-top: 45px;
					}
		
					+ p {
						margin-top: 36px;
					}
				}
			
				h3 {
					font-size: $h3-fsize;
					border-top: 2px solid $keyCol-1;
					border-bottom: 2px solid $keyCol-1;
					padding: 5px 0 5px 10px;
					margin: 36px 0 -18px 0;
					letter-spacing: .05em;
		
					+ h4,
					+ p {
						margin-top: 36px;
					}
					+ table {
						margin-top: 45px;
					}
				}
			
				h4 {
					position: relative;
					font-size: $h4-fsize;
					padding-left: 28px;
					margin: 18px 0 -18px 0;
					letter-spacing: .05em;
			
					&::before {
						content: "";
						position: absolute;
						width: 18px;
						height: 18px;
						@include border-radius(50%);
						top: 1px;
						left: 0;
						background-color: $keyCol-1;
					}
			
					&::after {
						content: "";
						position: absolute;
						width: 4px;
						height: 4px;
						@include border-radius(50%);
						top: 8px;
						left: 7px;
						background-color: white;
					}
		
					+ p {
						margin-top: 27px;
					}
				}
			
				p {
					//font-size: $h5-fsize;
					line-height: 1.8;
					margin: 18px 0;
			
					img {
						max-width: 100%;
						height: auto;
					}
		
					+ table {
						margin-top: 0;
					}
				}		
		
				a {
					color: $keyCol-1;
					text-decoration: underline;
				}

				table {
					margin: 36px 0;

					th,
					td{
						&:first-child {
							background-color: $gray-lightest;
						}
					}
				}
			
				blockquote {
					padding: 0 20px;
					margin: 36px 0;
					border-left: 5px solid #eee;
				}
			
				ul,
				ol {
					padding-left: 40px;
					margin: 36px 0;
			
					li {
						line-height: 1.8;
						//padding: 5px 0;
					}
				}
			
				ul {
					li {
						list-style-type: disc;
						
					}
				}
				
				ol {
					li {
						list-style-type: decimal;
					}
				}
			
				code {
					padding: 2px 4px;
					font-size: 90%;
					color: #c7254e;
					background-color: #f9f2f4;
					border-radius: 4px;
				}
			
				pre {
					display: block;
					padding: 9.5px;
					margin: 18px 0;
					font-size: 13px;
					line-height: 1.42857143;
					color: #333;
					word-break: break-all;
					word-wrap: break-word;
					background-color: #f5f5f5;
					border: 1px solid #ccc;
					border-radius: 4px;
			
					code {
						padding: 0;
						font-size: inherit;
						color: inherit;
						white-space: pre-wrap;
						background-color: transparent;
						border-radius: 0;
					}
				}

				h3 {
					+ pre {
						margin-top: 36px;
					}
				}
		
				h3 + .highlight pre {
					margin-top: 36px;
				}
		
				.highlight {
					> pre {
						margin-top: -9px;
					}
					+ h2 {
						margin-top: 54px;
					}
					+ h3 {
						margin-top: 45px;
					}
					+ h4 {
						margin-top: 36px;
					}
				}
		
				sup {
					top: -.5em;
					
					a {
						color: red;
						text-decoration: none;
					}
				}
		
				sub, sup {
					position: relative;
					font-size: 75%;
					line-height: 0;
					vertical-align: baseline;
				}
		
				.main-img {
					+ h4,
					+ p {
						margin-top: 36px;
					}

					&:first-child {
						margin: 0;
					}
				}
		
				.content {
					margin-bottom: 60px;
				}
		
				.author-wrap {
					display: flex;
					align-items: center;
					padding: 15px 20px;
					margin-bottom: 20px;
					background-color: $gray-lightest;
		
					.author-img {
						width: 40px;
						height: 40px;
						margin: 0 10px 0 0;
						@include border-radius(40px);
						border: 1px solid $gray-light;
						overflow: hidden;
					}
		
					.author-name {
						flex: 1;
						margin: 0;
					}
				}
		
				.hljs {
					display: block;
					overflow-x: auto;
					padding: 0.5em;
					background: #F0F0F0;
				}
			}

			.entry-footer {
				.tag-list {
					margin-bottom: 30px;

					.item-tag a {
						color: $keyCol;
		
						span {
							font-size: $h5-fsize;
							line-height: 28px;
							height: 28px;
							padding: 0 15px;
							background-color: transparent;
							border: 1px solid $gray-lighter;
							transition: .2s;
						}
					}
				}
			}
		}

		.post-nav {
			//text-align: center;
			border-top: 1px solid #EEE;
			border-bottom: 1px solid #EEE;
			padding: 0;
			margin-bottom: 80px;
			//height: 100px;
			//line-height: 100px;

			a {
				display: block;
				color: $keyCol;
				//height: 40px;
				//line-height: 40px;
				padding: 15px 0;
				//justify-content: center;
				text-align: center;
				transition: .2s;

				i {
					font-size: $h5-fsize;
					display: inline-block;
					//height: 49px;
					//line-height: 49px;
					vertical-align: -0.2rem
				}
			}

			.post-nav-prev {
				padding-left: 5px;

				.post-nav-arrow {
					margin-right: 15px;
				}
			}

			.post-nav-next {
				padding-right: 5px;

				.post-nav-arrow {
					margin-left: 15px;
				}
			}
		}
	}

	&.member {
		.entry-wrap {
			.entry-header {

				.entry-title-wrap {
					//margin-bottom: 0;
	
					.hospital-name {
						margin-bottom: 15px;
						font-size: $h2-fsize;
					}
				}

				.subTitle {
					font-size: $h5-fsize;
					//padding: 0;
					margin: 0;
					line-height: 1.8;
					border: none;
					background-color: transparent;
				}
			}

			.entry-body {
	
				.button-recruit {
					color: $keyCol-1;
					position: relative;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					height: 44px;
					line-height: 44px;
					padding: 0 28px;
					background-color: transparent;
					border: 1px solid $keyCol-1;
					@include border-radius(22px);
					text-decoration: none;
					letter-spacing: .1em;
					transition: .2s;
				}

				table {

					th,
					td {
						padding-right: 0;
						padding-left: 0;
						background-color: transparent;
					}
				}

				.recruit-wrap {
					padding: 25px;
					background-color: #faf4ee;
					@include border-radius(10px);

					table {
						margin-bottom: 0;

						tr {
							border-top: 1px solid $silver;
							border-color: $silver;
						}
					}
				}
			}

			.close-button {
				display: inline-block;
				color: $keyCol;
				width: 40px;
				height: 40px;
				line-height: 40px;
				//border: 1px solid $keyCol;
				@include border-radius(50%);
				background-color: $gray-lighter;

				.material-icons {
					height: 40px;
					line-height: 40px;
				}
			}
		}
	}

	&.member {
		.entry-wrap {
			border-top: 6px solid $keyCol-1;
			padding-top: 30px;
			margin-bottom: 60px;
			
			.entry-header {
				border-bottom: 1px solid $gray-lighter;
				padding-bottom: 30px;
				margin-bottom: 40px;
			}

			.entry-body {
				h2 {
					font-size: 2.1rem;
					color: $keyCol-1;
					margin-bottom: 15px;
				}

				.recruit-title-wrap {
					display: flex;
					justify-content: space-between;
				}
				

				table {
					margin-bottom: 50px;
					
					th,
					td {
						

						&:first-child {
							padding-bottom: 0;
						}
					}
				}

				a {
					color: $keyCol-1;
					text-decoration: underline;
				}

				.main-img {
					margin: 0 0 40px;
				}
			}
		}
		
		.close-button-wrap {
			margin-bottom: 50px;
		}	
	}	
}

.list {
	.meta {
		margin-bottom: 8px;
	}

	.list-title-wrap {

		h1 {
			font-weight: 600;
			font-family: 'Open Sans', sans-serif;
			letter-spacing: .05em;
			font-size: $h1-fsize;
			margin-top: 0;
			margin-bottom: 40px;
		}

		.ja {
			font-size: $h5-fsize;
			letter-spacing: .1em;
			margin-left: 10px;
		}
	}

	&.news {
		.list-title-wrap {
			padding: 0 22.5px;
		}
	}

	&.member {	
		.thumb-caption {
			.badge-recruitment { 
				margin-top: 10px;
			}
		}

		.pagination {
			margin-bottom: 50px;
		}
	}

	&.about {
		.list-wrap .list-body {

			.list-title-wrap {
				padding: 0;
			}

			h2 {
				font-size: $h2-fsize;
				background-color: $gray-lightest;
				border-left: 8px solid $keyCol-1;
				padding: 8px 15px;
				margin: 45px 0 -18px 0;
				letter-spacing: .05em;
	
				+ h3 {
					margin-top: 45px;
				}
	
				+ p {
					margin-top: 36px;
				}

				+ table {
					margin-top: 45px;
				}
			}
		
			h3 {
				font-size: $h3-fsize;
				border-top: 2px solid $keyCol-1;
				border-bottom: 2px solid $keyCol-1;
				padding: 5px 0 5px 10px;
				margin: 36px 0 -18px 0;
				letter-spacing: .05em;
	
				+ h4,
				+ p {
					margin-top: 36px;
				}
			}
		
			h4 {
				position: relative;
				font-size: $h4-fsize;
				padding-left: 28px;
				margin: 18px 0 -18px 0;
				letter-spacing: .05em;
		
				&::before {
					content: "";
					position: absolute;
					width: 18px;
					height: 18px;
					@include border-radius(50%);
					top: 1px;
					left: 0;
					background-color: $keyCol-1;
				}
		
				&::after {
					content: "";
					position: absolute;
					width: 4px;
					height: 4px;
					@include border-radius(50%);
					top: 8px;
					left: 7px;
					background-color: white;
				}
	
				+ p {
					margin-top: 27px;
				}
			}
		
			p {
				line-height: 1.8;
				margin: 18px 0;
		
				img {
					max-width: 100%;
					height: auto;
				}
			}

			table {
			
				th,
				td{
					padding-top: 10px;
					padding-bottom: 10px;
					line-height: 1.5;
			
					&:first-child {
						background-color: transparent;
					}
				}
			}

			a {
				color: $keyCol-1;
				text-decoration: underline;
			}	
		}
	}

	&.link {
		.list-title-wrap {
			padding: 0;
		}
	}

	.pagination {
		height: 40px;
		line-height: 40px;
		color: $keyCol;

		ul {
			display: inline-block;

			li {
			width: 40px;
			height: 40px;
			line-height: 40px;
			//border: 1px solid $white;
			@include border-radius(50%);
			transition: .2s;

				a {
					font-size: $h5-fsize;
					font-weight: 400;
					font-family: 'Open Sans', sans-serif;
					padding: 0;
					width: 40px;
					height: 40px;
					line-height: 40px;
					background-color: transparent;
				}

				&.active {
					background-color: transparent;
					//border: 1px solid $silver;
					//@include border-radius(50%);

					a {
						color: $keyCol;
						font-weight: 700;
						cursor: default;
					}
				}

				&.post-nav-arrow i {
					font-size: $h5-fsize;
					//color: $keyCol;
					width: 40px;
					height: 40px;
					line-height: 40px;
				}
			}

			// &::after {
			// 	content: ".";
			// 	clear: both;
			// 	height: 0;
			// 	display: block;
			// 	visibility: hidden;
			// }
		}
	}
}

.footer {
	display: block;
	//align-items: center;
	//justify-content: space-between;
	padding: 15px 30px;
	border-top: 1px solid $gray-lighter;
	
	.footer-nav {
		width: 100%;
		height: auto;
		line-height: 1;

		li {
			float: none;

			a {
				color: $keyCol;
				background-color: transparent;
				height: 20px;
				line-height: 20px;
				padding: 0;
	
				&::before {
					content: 'navigate_next';
					font-family: 'Material Icons';
					//font-size: $h4-fsize;
					padding-right: 0px;
					vertical-align: -0.15em;
				}
			}	
		}

		
	}

	.copyright {
		small {
			font-size: 1rem;
			letter-spacing: .05em;
		}
	}
}

.is_PC {
	.header-nav .mainmenu > li,
	.header-nav .submenu > li,
	.breadcrumbs li,
	.hospital-list li,
	.catList li {
		a {
			transition: .2s;
		}

		&:hover > a {
			color: $keyCol-1;
		}
	}

	.index .about-wrap .about-list {
		a {
			&:hover {
				color: $keyCol-1;

				&.list-item > .material-icons {
					padding: 0;
				}
			}
		}
	}

	.single {
		&.news,
		&.member {
			.entry-body {
				a {
					//transition: .2s;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}

		&.news {
			.entry-footer .tag-list .item-tag {
				&:hover a span {
					background-color: $keyCol-2;
					border-color: $keyCol-2;
				}
			}
		}
	}

	.list {
		&.about .list-body {
			a:hover {
				text-decoration: none;
			}
		}

		.pagination ul li {
			//transition: .2s;

			&:hover {
				background-color: $gray-lighter;
			}

			&.disabled,
			&.active {
				&:hover {
					background-color: transparent;
				}
			}
		}
	}

	.thumb-title a {
		//transition: .2s;

		&:hover {
			color: $keyCol-1;
		}
	}
	
	.post-nav a {
		//transition: .2s;

		&.post-nav-prev:hover {
			padding-left: 0;
			color: $keyCol-1;
		}

		&.post-nav-next:hover {
			padding-right: 0;
			color: $keyCol-1;
		}
	}

	.tagCloud li {
		a {
			transition: .2s;
		}

		&:hover > a {
			//color: white;
			background-color: $keyCol-2;
			border-color: $keyCol-2;
		}
	}

	.button-default,
	.single.member .entry-wrap .entry-body .button-recruit {
		//transition: .2s;

		&:hover {
			color: white;
			background-color: $keyCol-1;
			border: 1px solid $keyCol-1;
		}
	}

	.form-submit {
		&:hover {
			color: white;
			background-color: $keyCol-1;
			border: 1px solid $keyCol-1;
		}
	}

	.footer-nav li {
		

		&:hover {
			a {
				color: $keyCol-1;
			}
		}
	}
}

.is_SP {
	-webkit-tap-highlight-color: transparent; /* 強調をなくす */

	.header-nav .mainmenu > li,
	.header-nav .submenu > li,
	.breadcrumbs li,
	.hospital-list li,
	.catList li {
		a {
			transition: .2s;
		}

		&.hover > a {
			color: $keyCol-1;
		}
	}
	.sidenav .mainmenu > li {
		&.hover {
			> a {
				color: $keyCol-1;
			}
		}
	}

	.index .about-wrap .about-list {
		a {
			//transition: .2s;

			&.hover {
				color: $keyCol-1;

				&.list-item > .material-icons {
					padding: 0;
				}
			}
		}
	}

	.single {
		&.news,
		&.member {
			.entry-body {
				a {
					&.hover {
						text-decoration: none;
					}
				}
			}
		}

		&.news {
			.entry-footer .tag-list .item-tag {
				&.hover a span {
					background-color: $keyCol-2;
					border-color: $keyCol-2;
				}
			}
		}
	}

	.list {
		&.about .list-body {
			a.hover {
				text-decoration: none;
			}
		}

		.pagination ul li {
			//transition: .2s;

			&.hover {
				background-color: $gray-lighter;
			}

			&.disabled,
			&.active {
				&.hover {
					background-color: transparent;
				}
			}
		}
	}

	.thumb-title a {
		//transition: .2s;

		&.hover {
			color: $keyCol-1;
		}
	}
	
	.post-nav a {
		//transition: .2s;

		&.post-nav-prev.hover {
			padding-left: 0;
			color: $keyCol-1;
		}

		&.post-nav-next.hover {
			padding-right: 0;
			color: $keyCol-1;
		}
	}

	.tagCloud li {
		a {
			transition: .2s;
		}

		&.hover > a {
			//color: white;
			background-color: $keyCol-2;
			border-color: $keyCol-2;
		}
	}

	.button-default,
	.single.member .entry-wrap .entry-body .button-recruit {
		//transition: .2s;

		&.hover {
			color: white;
			background-color: $keyCol-1;
			border: 1px solid $keyCol-1;
		}
	}
}

@media (min-width: 601px) { // TB用
	table {
		margin: 0;
	
		th,
		td{
			display: table-cell;
			padding-right: 10px;
			padding-left: 10px;
	
			&:first-child {
				width: 140px;
			}
		}
	}
	
	.index {
		.section {
			padding: 100px 0;
		}

		.about-wrap .about-list .list-item {
					height: 100px;
					line-height: 100px;
		}
	}

	.single,
	.list {
		&.section {
			padding-top: 80px;
		}
	}

	.single {
		&.news {
			.post-nav {
				padding: 30px 0;

				.post-nav-prev {
					float: left;
				}

				.post-nav-next {
					float: right;
				}
			}
		}

		&.member .entry-wrap .entry-body table {		
			th,
			td {
				//padding-top: 10px;
				//padding-bottom: 10px;
				
				&:first-child {
					padding-bottom: 10px;
				}
			}
		}
	}

	.list {
		.list-title-wrap {
			padding: 0 22.5px;

			h1 {
				margin-bottom: 60px;
			}
		}

		&.member {
			.list-title-wrap {
				padding: 0;
			}
		}
	}

	.footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 45px 30px;
		//border-top: 1px solid $gray-lighter;
		
		.footer-nav {
			width: auto;
			height: 36px;
			//line-height: 1;

			li {
				float: left;
				transition: .2s;

				a {
					height: 36px;
					line-height: 36px;
					padding: 0 10px;
				}
			}
		}
	}
}

@media (min-width: 993px) { // PCの処理
	.nav-wrapper {
		padding: 0 30px;
	}

	.single {
		&.member {
			.entry-wrap {
				margin-bottom: 0;
				.entry-header {
					.entry-title-wrap {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.list.member {
		.pagination {
			margin-bottom: 0;
		}
	}
}

@media (min-width: 1201px) { // Large PCの処理
}