{{ partial "header" . }}

{{ partial "breadcrumb" . }}

<section class="list member section">
    <div class="container">
        <div class="row">
            <main class="col s12 offset-m1 m10 l8 px40-l_px30-m">
                <div class="list-title-wrap fadein">
                    <h1>Tag<span class="ja">:&nbsp;{{ .Title }}</span></h1>
                </div>
                <div class="row mb40">
                    {{ range (.Paginator 10).Pages }}
                        <article class="thumb-wrap col s12 fadein">
                            {{ partial "loop-member" . }}
                        </article>
                    {{ end }}
                </div>
                {{ partial "paginator" . }}
            </main>
            {{ partial "sidebar-member" . }}
        </div>
    </div>
</section>

{{ partial "footer-index" . }}