{{ partial "header" . }}

{{ partial "breadcrumb" . }}

<section class="list section">
    <div class="container">
        <div class="row">
            <main class="col s12 offset-m1 m10 l8 px40-l_px30-m">
                <div class="list-title-wrap">
                    <h1 class=""><span class="ja">{{ .Title }}：</span></h1>
                </div>
                    {{/*  {{ if eq .Title "Tags"}}
                        {{ range $taxonomyName, $taxonomy := .Site.Taxonomies }}
                            {{ if eq "tags" $taxonomyName }}
                                <ul class="">
                                    {{ range $tagName, $entries := $taxonomy }}
                                        {{ range where $entries.Pages "Section" "news" }}
                                            <li><a href="{{ $.Site.BaseURL | relURL }}tags/{{ $tagName | urlize }}">{{ $tagName }}<span class="count">({{ $entries.Count }})</span></a></li>
                                        {{ end }}
                                    {{ end }}
                                </ul>
                            {{ end }}
                        {{ end }}  */}}
                        <ul class="">
                            {{ range (where .Site.RegularPages "Section" "news") }}
                                <li><a href="{{ .RelPermalink }}">{{ .Params.tags }}<span class="count">({{ .Count }})</span></a>
                            {{ end }}
                        </ul>
            </main>
            
            {{ partial "sidebar-news" . }}
        </div>
    </div>
</section>
{{ partial "footer-index" . }}