{{ partial "header" . }}

{{ partial "breadcrumb" . }}
<div class="single news section">
        <div class="container">
            <div class="row">
                <main class="col s12 offset-m1 m10 l8 px40-l_px30-m">
                    <article class="entry-wrap">
                        <header class="entry-header">
                            <div class="meta">
                                {{ partial "time" . }}
                            </div>
                            <div class="entry-title-wrap">
                                <h1>{{ .Title }}</h1>
                                <!-- <h5>{{ .Description }}</h5> -->
                            </div>
                        </header>
                        <div align="start" class="entry-body">{{ .Content }}</div>
                        <footer class="entry-footer">{{ partial "tags" . }}{{ partial "sns-share" . }}</footer>
                    </article>
                    {{ partial "prev-next" . }}
                </main>
                {{ partial "sidebar-news" . }}
            </div>
        </div>
</div>

{{ partial "footer-index" . }}