{{ partial "header" . }}

{{ partial "breadcrumb" . }}
<div class="single member section">
    <div class="container">
        <div class="row">    
            <main class="col s12 offset-m1 m10 l8 px40-l_px30-m">
                <article class="entry-wrap row">
                    <header class="entry-header col s12">
                        <div class="row">
                            <div class="entry-title-wrap col s12 l6">
                                <h1 class="hospital-name">{{ .Title }}</h1>
                                {{/*  {{ range .Params.recruitment }}
                                    <span class="badge-recruitment">{{ . }}</span>
                                {{ end }}  */}}
                                {{ with .Params.recruitment }}<span class="badge-recruitment">{{ delimit . ", " }}</span>{{ end }}
                            </div>
                            <h2 class="subTitle col s12 l6">{{ .Description }}</h2>
                        </div>
                    </header>
                    <div align="start" class="entry-body col s12">{{ .Content }}</div>
                    
                </article>
                <p class="center-align hide-on-large-only"><a href="#" onclick="javascript:window.history.back(-1);return false;" class="close-button"><i class="material-icons ">close</i></a></p>
            </main>
            {{ partial "sidebar-member" . }}
        </div>
    </div>
</div>

{{ partial "footer-index" . }}