<div class="breadcrumbs-wrap">
    <div class="container">
        <div class="row">
            <ol class="breadcrumbs col s12">
                <li><a href="/">Home</a></li>
                {{ template "breadcrumb" dict "p1" . "p2" .Permalink }}
            </ol>
        </div>
    </div>
</div>
<!-- templates -->
{{ define "breadcrumb" }}
    {{ if .p1.Parent }}
        {{ if ne .p1.Parent .IsHome }}
            {{ template "breadcrumb" dict "p1" .p1.Parent }}
        {{ end }}
        {{ if eq .p2 .p1.Permalink }}
            <li>{{ .p1.Title }}</li>
        {{ else }}
            <li><a href="{{ .p1.Permalink }}">{{ .p1.Title }}</a></li>
        {{ end }}
    {{ end }}
{{ end }}