<!-- reset -->
{{ $style := resources.Get "scss/reset.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
<!-- materialize -->
{{- $style := resources.Get "scss/materialize.scss" | toCSS | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $style.Permalink }}">
<!-- style -->
{{- $style := resources.Get "scss/style.scss" | toCSS | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $style.Permalink }}">
<!-- style -->
{{- $style := resources.Get "scss/sensyuvets.scss" | toCSS | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $style.Permalink }}">
<!-- custom -->
{{- range .Site.Params.css -}}<link rel="stylesheet" href="{{ . | absURL }}">{{- end -}}
{{/*  materiali icons  */}}<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- highlight.js -->
{{- if .Site.Params.highlight | default false -}}<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/{{ .Site.Params.highlightStyle | default "default" }}.min.css">{{- end -}}
{{/*  font awesome  */}}<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">