<aside class="widget-sidebar col s12 offset-m1 m10 l4 px40-l_px30-m">
    <div class="recentPost widget-item">
        <h2 class="widget-title border-hrz-lr">RECENT POST</h2>
        <ul class="widget-body">
            {{- range first 5 ( where .Site.RegularPages "Section" "news" )}}
                <li class="thumb-wrap row">
                    <a href="{{ .RelPermalink }}">
                        <div class="thumb-img col s5">
                            <p class="zoomIn">
                                {{- partial "bundle-image" . }}
                            </p>
                        </div>
                    </a>
                    <div class="thumb-caption col s7">
                        <div class="thumb-title-wrap">
                            <div class="meta"><time>{{ .Date.Format "2006.01.02" }}</time></div>
                            <h3 class="thumb-title"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
                        </div>
                    </div>
                </li>
            {{- end }}
        </ul>
    </div>
    <div class="tagCloud widget-item">
        <h2 class="widget-title border-hrz-lr">TAG</h2>
        <ul class="widget-body">
            {{- range $name, $taxonomy := .Site.Taxonomies.tags }}
                <li><a href="/tags/{{ $name | urlize }}">{{ $name }}</a></li>
            {{- end }}
        </ul>
    </div>
</aside>