<section class="sns-share-wrap">
    <div class="share-title">Share:</div>
    <div class="sns-list">
        <a class="facebook" href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fdemo.kaliumtheme.com%2Fblogging%2Fimage-post%2F" aria-label="Facebook">
            <i class="icon fa fa-facebook"></i>
        </a><a class="twitter" href="https://twitter.com/share?text=Image+Post&amp;url=https%3A%2F%2Fdemo.kaliumtheme.com%2Fblogging%2Fimage-post%2F" aria-label="Twitter">
            <i class="icon fa fa-twitter"></i>
        </a>
    </div>
</section>