<section class="sns-share-wrap">
    <div class="share-title">Share:</div>
    <div class="sns-list">
        <a class="facebook" href="javascript:window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(location.href),'sharewindow','width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=!');" data-tooltip="facebookでシェアする" aria-label="Facebook">
            <i class="icon fa fa-facebook"></i>
        </a><a class="twitter" href="javascript:window.open('http://twitter.com/share?text='+encodeURIComponent(document.title)+'&url='+encodeURIComponent(location.href),'sharewindow','width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=!');" data-tooltip="twitterでシェアする" aria-label="Twitter">
            <i class="icon fa fa-twitter"></i>
        </a>
    </div>
</section>