{{ partial "header" . }}

<main class="index">
    <div id="cover-wrap" class="">
        <div class="cover-text">
            <h1 class="">{{ .Site.Title }}</h1>
            <h2 class="">{{ markdownify .Site.Params.Description }}</h2>
        </div>
    </div>
    <div class="intro container">
        {{ with .Content }} <div class="homepage-content text-justify">{{ . }}</div> {{ end }}
    </div>
    <section class="about-wrap section grey lighten-5">
        <div class="container">
            <div class="row">
                <div class="col s12 offset-m1 m10 l12">
                    <div class="row">
                        <div class="section-title-wrap col s12 l4 px30 mb0-l_mb35-m">
                            <h2 class="h1 mb20 fadein">ABOUT<span class="ja">研究会について</span></h2>
                            <p class="fadein">泉州獣医臨床研究会は、大阪府堺市以南の地域（泉州）を中心とした、小動物臨床に携わる獣医師の集まりです。</p>
                        </div>
                        <div class="about-list col s12 offset-l2 l6 px30">
                            <a class="list-item fadein" href="{{ .Site.BaseURL }}about/">
                                <div class="list-item-title-wrap">
                                    <i class="medium material-icons">chat_bubble_outline</i>
                                    <div class="">
                                        <h3 class="">活動内容</h3>
                                        <p>知識・技術の共有や若手獣医師の育成を行っています。</p>
                                    </div>
                                </div>
                                <i class="material-icons">arrow_forward</i>
                                
                            </a>
                            <a class="list-item fadein" href="{{ .Site.BaseURL }}member/">
                                <div class="list-item-title-wrap">
                                    <i class="medium material-icons">pets</i>
                                    <div>
                                        <h3 class="">会員病院</h3>
                                        <p>泉州地域における獣医師間のつながりを形成しています。</p>
                                    </div>
                                </div>
                                <i class="material-icons">arrow_forward</i>
                            </a>
                            <a class="list-item fadein" href="{{ .Site.BaseURL }}about/#運営組織">
                                <div class="list-item-title-wrap">
                                    <i class="medium material-icons">people</i>
                                    <div>
                                        <h3 class="">運営組織</h3>
                                        {{/*  <p>運営組織はこちら。</p>  */}}
                                    </div>
                                </div>
                                <i class="material-icons">arrow_forward</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="news-wrap section">
        <div class="container">
            <div class="section-title-wrap row mb60-m_mb40-s fadein">
                <div class="col s12 offset-m1 m10 l12">
                    <h2 class="h1">NEWS<span class="ja">お知らせ</span></h2>
                </div>
            </div>
            <div class="row mb40 equal-height">
                {{ range first 6 (where .Site.RegularPages "Section" "news") }}
                    <article class="thumb-wrap col s12 offset-m1 m10 l4 px30 fadein">
                        {{ partial "list-item-news" . }}
                    </article>
                {{ end }}
            </div>
            <p class="center-align"><a class="button-default fadein" href="/news/">VIEW MORE</a></p>
        </div>
    </section>
    <section class="member-wrap section deep-orange lighten-5">
        <div class="container">
            <div class="row">
                <div class="col s12 offset-m1 m10 l12">
                    <div class="section-title-wrap row mb60-m_mb40-s">
                        <div class="col s12 l4 px30 mb0-l_mb20-m">
                            <h2 class="h1">MEMBER<span class="ja">会員病院</span></h2>
                        </div>
                        <p class="col s12 offset-l2 l6 px30">泉州獣医臨床研究会は大阪府南部の泉州地域を中心に22病院61名（2019年8月現在）が集まり、獣医師間のつながりの形成・知識の共有・若手獣医師の教育を目的として活動しています。</p>
                    </div>
                    <div class="row mb40">
                        <div class="equal-height px22_5-s">
                            {{ range first 4 (where .Site.RegularPages "Section" "member") }}
                                <article class="thumb-wrap col s6 m6 px30-m fadein">
                                    {{ partial "list-item-member" . }}
                                </article>
                            {{ end }}
                        </div>
                    </div>
                    <p class="center-align"><a class="button-default" href="/member/">VIEW MORE</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="form-wrap section">
        {{ partial "form" . }}
    </section>
</main>

{{ partial "footer-index" . }}