{{- partial "header" . }}
{{- partial "breadcrumb" . }}
<section class="list section">
    <div class="container">
        <div class="row">
            <main class="col s12 offset-m1 m10 l8 px40-l_px30-m">
                <div class="list-title-wrap">
                    <h1 class=""><span class="ja">{{ .Title }}：</span></h1>
                </div>
                <ul class="">
                    {{- range $name, $taxonomy := .Site.Taxonomies.tags }}
                        <li><a href="/tags/{{ $name | urlize }}">{{ $name }}<span>({{ .Count }})</span></a></li>
                    {{- end }}
                </ul>
            </main>
            {{- partial "sidebar-news" . }}
        </div>
    </div>
</section>
{{- partial "footer-index" . }}