{{ partial "header" . }}

{{ partial "breadcrumb" . }}

<section class="list about section">
    <div class="container">
        <div class="row">
            <div class="list-wrap col s12 offset-m1 m10 offset-l2 l8 px40-l_px30-m">
                <main class="list-body">
                    <div class="list-title-wrap">
                        <h1>LINK<span class="ja">リンク</span></h1>
                    </div>
                    {{ .Content }}
                </main>
            </div>
        </div>
    </div>
</section>

{{ partial "paginator" . }}

{{ partial "footer-index" . }}