{{- partial "header" . }}
{{- partial "breadcrumb" . }}
<section class="list news section">
    <div class="container">
        <div class="row">
            <main class="col s12 offset-m1 m10 l8 px17_5-l">
                <div class="list-title-wrap fadein">
                    <h1>NEWS<span class="ja">お知らせ</span></h1>
                </div>
                <div class="row equal-height">
                    {{- range (.Paginator 10).Pages -}}
                        <article class="thumb-wrap col s12 l6 px30 fadein">
                            {{ partial "loop-news" . }}
                        </article>
                    {{- end -}}
                </div>
            </main>
            {{- partial "sidebar-news" . }}
        </div>
    </div>
</section>
{{- partial "paginator" . }}
{{- partial "footer-index" . }}