{{ partial "header" . }}

{{ partial "breadcrumb" . }}

<section class="list about section">
    <div class="container">
        <div class="row">
            <main class="col s12 l8 px40">
                <div class="">
                    <h1 class="center-align">{{ .Title }}</h1>
                    <p>{{ .Content }}</p>
                </div>
            </main>

            {{ partial "sidebar-member" . }}

        </div>
    </div>
</section>

{{ partial "paginator" . }}

{{ partial "footer-else" . }}