//
// Border
//

@import "base";

.border-top {
	position: relative;

	&::before {
		background: $keyCol;
		content: "";
		display: block;
		height: 1px;
		width: 100%;
		//margin-bottom: 20px;
		position: absolute;
		left: 0;
		top: 0;
	}
}

.border-bottom {
	position: relative;

	&::after {
		background: $keyCol;
		content: "";
		display: block;
		height: 1px;
		width: 100%;
		//margin-bottom: 20px;
		position: absolute;
		left: 0;
		bottom: 0;
	}
}

.border-hrz-lr {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;

	&::before {
		align-self: center;
		background-color: $gray-lighter;
		content: "\a0";
		//-moz-flex-grow: 1;
		flex-grow: 1;
		//-ms-flex-positive: 1;
		height: 1px;
		box-sizing: inherit;
		margin-right: 7px;
	}

	&::after {
		align-self: center;
		background-color: $gray-lighter;
		content: "\a0";
		//-moz-flex-grow: 1;
		flex-grow: 1;
		//-ms-flex-positive: 1;
		height: 1px;
		box-sizing: inherit;
		margin-left: 7px;
	}
}

.border-hrz-r {
	display: flex;
	flex-direction: row;
	justify-content: center;

	&::after {
		align-self: center;
		background-color: #f4f4f4;
		content: "\a0";
		//-moz-flex-grow: 1;
		flex-grow: 1;
		//-ms-flex-positive: 1;
		height: 1px;
		box-sizing: inherit;
		margin-left: 7px;
	}
}

.border-all {
		border: 1px solid $keyCol;
	}