//
// Burger
//

.header {
	.burger {
	    width: 60px;
	    height: 60px;
	    border-radius: 50%;
	    background-color: #fff;
	    position: relative;

		&:hover {
		    cursor: pointer;
		}

		span {
			position: absolute;
			left: 18px;
			width: 24px;
			height: 1px;
			background-color: $gray-light;
			display: inline-block;
			box-sizing: border-box;

			&:nth-of-type(1) {
			  top: 20px;
			}
			&:nth-of-type(2) {
			  top: 30px;
			}
			&:nth-of-type(3) {
			  top: 40px;
			}
		}
	}
}

.is_SP {
	.header {
		.burger.hover {
			background-color: #e5ebf7;
		}
	}
}