//
// Hover
//

.hover-image {
    position: relative;
    display: block;

    &::after {
      opacity: 0;
      content: "";
      background-color: rgba(0,0,0,.2);
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity .15s ease-out;
    }

    &:hover{
      &::after {
        opacity: 1;
      }
    }
  }