//
// Navigation
//

@import "base";
//@import "mixins/underline";

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
}

nav {
	background: $white;
	box-shadow: none;

	.mainmenu-1 {
		> li {
			> a {
				font-size: $h5-fsize;
				color: #333;
				letter-spacing: .05em;
			}

			// .submenu {
			// 	position: fixed;
			// 	top: 70px;
			// 	width: 100%;
			// 	left: 0;
			// 	border-top: 1px solid #e2e2e2;
			// 	background: #fff;
			// 	padding: 0;
			// 	transition: all 0.3s ease-out;
			// 	opacity: 0;
			// 	visibility: hidden;

			// 	ul {
			// 		display: flex;
			// 		justify-content: center;
			// 		align-items: center;

			// 		li > a {
			// 			font-size: $h5-fsize;
			// 			color: #333;
			// 		}
			// 	}
			// }

			

			&:hover {
				a {
					background: transparent;
				}

				.submenu {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}

.header-nav {
	height: 70px;
	line-height: 70px;
	z-index: 100;

	a.brand-logo,
	a.sidenav-trigger {
		color: $keyCol;
	}

	.mainmenu {
		li a {
			font-size: $h5-fsize;
			letter-spacing: .05em;
		}

		> li {
			position: relative;

			> a {
				color: #333;
			}

			&.active {
				background: transparent;
				position: relative;

				&::after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 4px;
					background-color: $keyCol;
				}
			}

			> .submenu {
				position: absolute;
				background: $white;
				box-shadow: 0 0 5px rgba(0,0,0,.2);
				top: 60px;
				transition: all .1s ease-in-out;
				transform-origin: center top;
				transform: scaleY(0);
				visibility: hidden;
				z-index: 99999;

				> li {
					> a {
						color: #333;
						line-height: normal;
						margin: 0 20px;
						min-width: 150px;
						padding: 15px 0;
					}
					&:not(:last-child) > a {
						border-bottom: 1px solid $gray-lighter;
					}
				}
			}

			&:hover {
				a {
					background: transparent;
				}
			}
		}
	}
}

.sidenav {
	.mainmenu {
		margin-top: 60px;

		li {
			margin: 0;
			border: none;

			&:first-child {
				//margin-bottom: 20px;
			}

			&.active {
				background: transparent;
			}

			a {
				color: #333;
				padding: 0;
				font-size: $h3-fsize;

				&:hover {
					background: transparent;
				}
			}

			ul {
				li {
					//margin-left: 1.5rem;
					margin-right: 0;
					border-top: none;

					a {
						font-size: $h5-fsize;
						height: 36px;
						line-height: 36px;

						&::before {
							//font-family: 'Material Icons';
							content: none;
						}
					}
				}
			}
		}
	}
}

.post-nav {
	//margin-top: 50px;
	margin-bottom: 50px;

	.post-nav-item {
		font-size: $h5-fsize;
		letter-spacing: .05em;

		.prev {
			text-align: left;
		}

		&.next {
			//float: right;

			.next-inner {
				text-align: right;
			}
		}

		a {
			color: $keyCol;
		}
	}
}

.cat-nav-wrap {
	overflow: hidden;
	height: 43px; /* 可視領域の高さ */
}

.is_PC {
	.mainmenu > li:hover .submenu {
		transform: scaleY(1);
		visibility: visible;
	}
}

@media (min-width: 601px) { // TB用

	.cat-nav {
		width: auto;
		//justify-content: flex-start;

		li {
			+ li {
				margin-left: 40px;
			}
		}
	}

}
